@if (action === 'Add') {
<h1 mat-dialog-title>Fahrzeug hinzufügen</h1>
} @else {
<h1 mat-dialog-title>Fahrzeug bearbeiten</h1>
}

<mat-dialog-content>
  <form [formGroup]="vehicleForm">
    <mat-form-field>
      <mat-label>Linie</mat-label>
      <input matInput formControlName="lineNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ziel</mat-label>
      <input matInput formControlName="destination">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Uhrzeit</mat-label>
      <input matInput formControlName="departure">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Abbrechen</button>
  @if (action === 'Add') {
  <button mat-flat-button color="primary" [disabled]="vehicleForm.invalid" (click)="addVehicle()">Hinzufügen</button>
  } @else {

  <button mat-flat-button color="primary" [disabled]="vehicleForm.invalid" (click)="editVehicle()">Speichern</button>

  }
</mat-dialog-actions>