<form [formGroup]="freeTextFormGroup" (ngSubmit)="saveFreeText()" class="free-text-container">
  <mat-form-field>
    <mat-label>Zeile 1</mat-label>
    <input matInput formControlName="line1">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zeile 2</mat-label>
    <input matInput formControlName="line2">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zeile 3</mat-label>
    <input matInput formControlName="line3">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zeile 4</mat-label>
    <input matInput formControlName="line4">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Zeile 5</mat-label>
    <input matInput formControlName="line5">
  </mat-form-field>

  <button mat-flat-button type="submit">Übernehmen</button>
</form>
