@if (destinations$ | async; as destinations) {
<mat-list>
  @for (destination of destinations; track destination; let i = $index) {

  <mat-list-item>
    <span matListItemTitle>{{destination}}</span>

    <span matListItemMeta>
      <button mat-icon-button (click)="onEditDestination(destination, i)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="onDeleteDestination(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </mat-list-item>
  @if (i !== destinations.length - 1) {
  <mat-divider></mat-divider>
  }

  }
</mat-list>
}

<div>
  <button mat-stroked-button color="primary" (click)="onRefresh()">Aktualisieren</button>
  <button mat-flat-button color="primary" (click)="addDestination()">Ziel hinzufügen</button>
</div>