<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <mat-nav-list>
      @for (navigationItem of navigationEntries; track navigationItem) {
      <a mat-list-item [routerLink]="navigationItem.path">{{navigationItem.displayName}}</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar [color]="themingService.getCurrentTheme() === theme.Light ? 'primary' : ''">
      <span class="button--icon">
        @if (isSmallLayout$ | async) {
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        }
      </span>
      <span>ESP DFI IGNah</span>

      @if (!(isSmallLayout$ | async)) {

      @for (navigationItem of navigationEntries; track navigationItem) {
      <span>
        <a class="navigation-link mat-body-2" [routerLink]="navigationItem.path">{{navigationItem.displayName}}</a>
      </span>
      }

      }

      <span class="spacer"></span>

      @if (themingService.getCurrentTheme() === theme.Light) {
      <button mat-icon-button (click)="themingService.setDarkTheme()">
        <mat-icon>light_mode</mat-icon>
      </button>
      } @else {

      <button mat-icon-button (click)="themingService.setLightTheme()">
        <mat-icon>dark_mode</mat-icon>
      </button>

      }

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>