<div class="running-text-container">

  <mat-form-field>
    <mat-label>Lauftext</mat-label>
    <textarea matInput [value]="(runningText$ | async)?.text" #text></textarea>
  </mat-form-field>

  <div class="slider-container">
    <label>Laufgeschwindigkeit: {{speed}} Pixel/Sekunde</label>

    <mat-slider min="5" max="60" step="5" value="35" showTickMarks class="speed-slider">
      <input matSliderThumb [(ngModel)]="speed">
    </mat-slider>
  </div>

  <button mat-flat-button color="primary" (click)="saveRunningText(text.value)">Speichern</button>

</div>