<div class="outer-container">
  <div class="container system-settings-container">
    <h2>Systemeinstellungen</h2>

    <form [formGroup]="settingsForm">
      <div formGroupName="station">
        <h3>Station</h3>

        <div>
          <mat-form-field class="xs-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="xs-full-width">
            <mat-label>Nummer</mat-label>
            <input matInput type="text" formControlName="number">
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="lightSensor">
        <h3>Lichtsensor</h3>

        <div>
          <label>
            PWM-Bereich: {{ settingsForm.controls.lightSensor.controls.min.value }} bis {{ settingsForm.controls.lightSensor.controls.max.value }}
          </label>
        </div>

        <!-- Maximum is 2^10-1 -->
        <mat-slider [min]="lightSensorMin" [max]="lightSensorMax" class="control">

          <input matSliderStartThumb [value]="settingsForm.controls.lightSensor.controls.min.value ?? lightSensorMin"
            (input)="settingsForm.controls.lightSensor.controls.min.setValue($any($event.target).valueAsNumber)">

          <input matSliderEndThumb [value]="settingsForm.controls.lightSensor.controls.max.value ?? lightSensorMax"
            (input)="settingsForm.controls.lightSensor.controls.max.setValue($any($event.target).valueAsNumber)">
        </mat-slider>

        <div>
          <label>
            PWM-Gain: {{ settingsForm.controls.lightSensor.controls.gain.value }}
          </label>
        </div>

        <mat-slider [min]="lightSensorGainMin" [max]="lightSensorGainMax" [step]="0.25" showTickMarks class="control">

          <input matSliderThumb [value]="settingsForm.controls.lightSensor.controls.gain.value ?? lightSensorGainMin"
            (input)="settingsForm.controls.lightSensor.controls.gain.setValue($any($event.target).valueAsNumber)">
        </mat-slider>
      </div>

      <div class="action-button-bar">
        <button mat-flat-button color="primary" class="xs-full-width"
          (click)="saveStationSettings()">Übernehmen</button>
      </div>
      <mat-divider></mat-divider>
      <div formGroupName="destination-blocklist">
        <h3>Zu ignorierende Ziele</h3>

        <app-destination-blocklist></app-destination-blocklist>
      </div>
    </form>
  </div>