<div class="outer-container">
  <div class="container system-settings-container">
    <h2>Systemeinstellungen</h2>

    <form [formGroup]="settingsForm">
      <div formGroupName="station">
        <h3>Station</h3>

        <div>
          <mat-form-field class="xs-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="xs-full-width">
            <mat-label>Nummer</mat-label>
            <input matInput type="text" formControlName="number">
          </mat-form-field>
        </div>
        <!-- <div>
          <label for="station-name">Sperrliste:</label>
          <input matInput type="text" id="station-blocklist" name="station-blocklist" value="string array">
        </div> -->
      </div>

      <div formGroupName="lightSensor">
        <h3>Lichtsensor</h3>

        <div>
          <label>
            PWM-Bereich: {{ settingsForm.value.lightSensor?.min }} bis {{ settingsForm.value.lightSensor?.max }}
          </label>
        </div>

        <!-- Maximum is 2^10-1 -->
        <mat-slider [min]="lightSensorMin" [max]="lightSensorMax" class="control">
          <input matSliderStartThumb formControlName="min">
          <input matSliderEndThumb formControlName="max">
        </mat-slider>

        <div>
          <label>
            PWM-Gain: {{ settingsForm.value.lightSensor?.gain }}
          </label>
        </div>

        <mat-slider step="0.25" [min]="lightSensorGainMin" [max]="lightSensorGainMax" showTickMarks class="control">
          <input matSliderThumb formControlName="gain">
        </mat-slider>
      </div>

      <div class="action-button-bar">
        <button mat-flat-button color="primary" class="xs-full-width" (click)="saveStationSettings()">Übernehmen</button>
      </div>
    </form>
  </div>