<div>
  <div class="container display-settings-container">
    <h2>Anzeigeeinstellungen</h2>

    <div>
      <h3>Anzeigemodus</h3>

      <mat-radio-group class="mode-radio-group">
        <mat-radio-button>Abfahrten</mat-radio-button>
        <mat-radio-button>Abfahrten mit Lauftext</mat-radio-button>
        <mat-radio-button>Freitext</mat-radio-button>
      </mat-radio-group>

      <button mat-flat-button color="accent" class="mode-action-button">Übernehmen</button>
    </div>

    <div class="mode-settings-container">
      <h3>Moduseinstellungen</h3>

      <mat-tab-group>

        <mat-tab label="Lauftext">
          <ng-template matTabContent>
            <app-running-text></app-running-text>
          </ng-template>
        </mat-tab>

        <mat-tab label="Freitext">
          <ng-template matTabContent>
            <app-free-text></app-free-text>
          </ng-template>
        </mat-tab>

        <mat-tab label="Zusätzliche Fahrzeuge">
          <ng-template matTabContent>
            <app-additional-vehicles></app-additional-vehicles>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>