$mvb-light-primary: (
  50 : #e1f1e9,
  100 : #b3ddc9,
  200 : #80c7a5,
  300 : #4db080,
  400 : #279f65,
  500 : #018e4a,
  600 : #018643,
  700 : #017b3a,
  800 : #017132,
  900 : #005f22,
  A100 : #90ffad,
  A200 : #5dff88,
  A400 : #2aff62,
  A700 : #10ff50,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mvb-light-accent: (
  50 : #edf1e5,
  100 : #d3dbbd,
  200 : #b6c492,
  300 : #98ac66,
  400 : #829a45,
  500 : #6c8824,
  600 : #648020,
  700 : #59751b,
  800 : #4f6b16,
  900 : #3d580d,
  A100 : #d1ff8e,
  A200 : #bdff5b,
  A400 : #a8ff28,
  A700 : #9eff0e,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);