@use '@angular/material' as mat;
@use './color-palettes';

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

// Define a light theme
$light-primary: mat.m2-define-palette(color-palettes.$mvb-light-primary);
$light-accent: mat.m2-define-palette(color-palettes.$mvb-light-accent);
$light-theme: mat.m2-define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
      )));

// Define a dark theme
$dark-primary: mat.m2-define-palette(color-palettes.$mvb-light-primary, 200);
$dark-accent: mat.m2-define-palette(color-palettes.$mvb-light-accent, 300);
$dark-theme: mat.m2-define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
      )));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light-theme {
  @include mat.all-component-colors($light-theme);
}